.container-2 {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
img {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: 2px solid whitesmoke;
}
.icerik-yazi {
  margin: 0;
  padding: 50px 100px;
  padding-bottom: 20px;
  font-family: calibri;
  color: white;
  background-color: black;
}
