.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  display: flex;
  align-items: center;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  backdrop-filter: opacity(0.5);
  z-index: -1;
}
.cerceve {
  margin: 200px 70px 200px 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aliceblue;
}
.date {
  padding-left: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: rgb(21, 22, 22);
  gap: 20px;
  text-align: left;
}
.govde {
  padding: 30px 80px;
  display: flex;
  flex-direction: row;
}

.sag-textler {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.icerik-yazi {
  text-align: left;
  padding-left: 80px;
  padding-right: 80px;
}

h1 {
  font-family: Coda Caption ExtraBold;
  font-family: "Chelsea Market", cursive;
  font-family: "Coda Caption", sans-serif;
  font-family: "Lexend Tera", sans-serif;
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
